@model Models.EF.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section PageHeader{
    Thông tin người dùng
}

<div class="col-lg-15">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="@Url.Action("Index","Users","Admin")" style="margin-right:5px;float:left">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            </a>
            Thông tin người dùng
        </div>
        <div class="panel-body">
            <div class="bs-example widget-shadow">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Password)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Birthday)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Birthday)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserGroupId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserGroupId)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>