@model Models.EF.User

@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section PageHeader{
    Thông tin cá nhân
}

<div class="col-lg-15">
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="bs-example widget-shadow">
                <div>
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Birthday)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Birthday)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserGroupId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserGroupId)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

