@model PagedList.IPagedList<Models.EF.Role>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section PageHeader{
    Danh sách các quyền
}

<div class="col-lg-15">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="@Url.Action("Create","Roles","Index")"><i class="fa fa-plus" aria-hidden="true"></i> Thêm quyền</a>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th></th>
            </tr>

            @{var index = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa quyền", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Phân quyền", "GrantPermission", new { id = item.Id }) |
                        <a href="#" class="delete-item" data-target="#confirmation-dialog" data-toggle="modal" data-id="@item.Id">Xóa</a>
                    </td>
                </tr>
                index++;
            }
        </table>
    </div>
    <div style="text-align:center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>

@Html.Partial("DeleteConfirmDialog", new ViewDataDictionary { { "link", "/Admin/Roles/Delete/" } })