@model IEnumerable<Models.EF.Product>

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section PageHeader{
    Danh sách sản phẩm
}

<div class="col-lg-15">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="@Url.Action("Create","Products","Index")"><i class="fa fa-plus" aria-hidden="true"></i> Thêm sản phẩm</a>
        </div>
        <div class="panel-body">
            <div class="bs-example widget-shadow">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Images)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.View)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr class="odd gradeA">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Discount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Images)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.View)
                            </td>
                            <td>
                                @Html.ActionLink("Sửa", "Edit", new { id = item.Id, username = item.Username }) |
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                                <a class="delete-item" data-target="#confirmation-dialog" data-toggle="modal" data-id="@item.Id">Xóa</a>
                            </td>
                        </tr>
                    }
                </table>
                @*<div style="text-align:center">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmation-dialog" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa?</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmation-dialog-button-ok">Xóa</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itemToDelete = "";

    $(document).ready(function () {
        $('.delete-item').on('click', function () {
            itemToDelete = $(this).attr('data-id');
        });

        $('#confirmation-dialog-button-ok').on('click', function () {
            window.location.href = "/Admin/Products/Delete/" + itemToDelete;
        });
    });
</script>
